
*{
	margin: 0%;
	padding: 0%;
}

.cantener1{
	

	background-color:#f7f4f4fb;
	

}
.h1{
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Platypi", serif;

	
}
.cantener2
{
	
	margin-top: 10%;
	
}

.c{
	
	width: 10vw;
	height: 10vh;
	margin-left: 25%;
	background-color: white;
	
}

.span1{
	color:#0073dd ;
}

.cantener3{
	width: 50vw;
	height: 60vh;
	box-shadow: 0px 3px 0px 0px gold;
	border-radius: 10px;
}

.cantener4{
	width: 50vw;
	height: 60vh;
	box-shadow: 0px 2px 0px 0px limegreen;
	border-radius: 10px;
}

.cantener5{
	width: 50vw;
	height: 60vh;
	box-shadow: 0px 5px 0px 0px lightskyblue;
	border-radius: 10px;
}

.cantener6{
	width: 50vw;
	height: 60vh;
	box-shadow: 0px 5px 0px 0px palevioletred;
	border-radius: 10px;
}

.cantener7{
	width: 50vw;
	height: 60vh;
	box-shadow: 0px 5px 0px 0px red;
	border-radius: 10px;
}

.cantener8{
	width: 50vw;
	height: 60vh;
	box-shadow: 0px 5px 0px 0px green;
	border-radius: 10px;
}

.img1{
	width: 25%;
	margin-left: 38%;
	margin-top: 18%;
}

.img{
	width: 20%;
	margin-left: 40%;
	margin-top: 10%;
	

}


.span2{
	margin-left: 25%;
	font-size: 22px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}


.span4{
	
font-size: 22px;
margin-left: 35%;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
}

.span5{
	font-size: 22px;
margin-left: 40%;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
}

.span6{
	font-size: 22px;
margin-left: 17%;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
}
.span7{
	font-size: 22px;
margin-left: 15%;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
}

.span8{
	font-size: 22px;
margin-left: 9%;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
}


.ss1{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	padding: 20px;
	color: rgb(121, 121, 121);
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}