@media (width<=700px)
{
    .navbar{
        height: 60px;
        background-color: #0f1111;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .logo{
        height: 60px;
        width: 100px;
        background-color: #ffffff;
    }
    .logoimg{
        background-image: url("logoofspcam-removebg-preview.png");
        background-size: cover;
        height: 100px;
        width: 100%;
    }

    .sidebar{
        height: 100%;
        width: 250px;
        position: fixed;
        top: 0;
        right: 0;
        background-color:#000000E6;
        transform: translatex(250px);
        transition:transform 250ms ease-in-out;
        }
        html{
            scroll-behavior: smooth;
        }
        .menu{
            list-style: none;
            padding: 0;
            margin: 0;
        }
        .menu a{
            color:white;
            padding: 20px;
            display: block;
            align-items: center;
            justify-content: flex-start;
            text-decoration: none;
        }
        .sidebaricon{
            position: absolute;
            height: 22px;
            width: 22px;
            z-index: 20;
            cursor: pointer;
            top:22px;
            right:15px;
        }
        #opensidemenu:checked ~ .sidebar{
            transform: translateX(0px);
        }
        #opensidemenu:checked ~ .sidebaricon > .spinar.midal{
            opacity: 0;
        }
        #opensidemenu:checked ~ .sidebaricon > .spinar.top{
            transform: rotate(45deg);
            margin-top: 8px;
            background: white;
        }
        #opensidemenu:checked ~ .sidebaricon > .spinar.bottom{
            transform: rotate(-45deg);
            margin-top: -9px;
            background: white;
        }
        .spinar{
            height: 3px;
            background:#000;
            transition: all 0.3s;
            margin: 3px;
        }
        .spinar.midal,
        .spinar.bottom{
            margin-top: 3px;
        }
        input{
            display: none;
        }
        .spcamhead
        {
            text-align: Center;
            margin-top: 50px;
            font-family: arial;
            font-style: oblique;
        }
        .blue
        {
            color: #0073dd;
        }
        .gr{
            width: 100%;
        }
    .non{
        display: none;
    }
    .hero h1{
        font-size: 40px;
    }
    .hero h1{
        text-align: center;
    }
    .text p{
        text-align: center;
    }
    .c1{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .happy{
        display: none;
    }
    .w{
        display:block;
        justify-content: center;
        align-items: center;
        font-size: 34px;
    }
    .contact{
        height: 36px;
        width: 108px;
        background-color:#3d5a80;
        color: #ffffff;
        border-radius: 4px;
        border: none;
        font-size: 14px;
    }
    .tull:hover{
        color:#3d5a80;
    }
    .contact:hover{
        background-color:#202324;
    }
    /* nakrani; ---------------------------------------------------------------------------*/
    .box-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #e2e7e6;
        
    }
    .box{
        /* border: 2px solid black; */
        border-radius: 20px;
        height:40%;
        width: 50%;
        background-color: white;
        padding: 20px;
        margin-top: 30px;
        box-shadow: 0px 5px 5px 0px rgba(255, 166, 0, 0.907);
        overflow: hidden;
    }
    .box h2{
        font-size: 1.2rem;
        /* font-family: satoshi-bold; */
    }
    .box1 .img1{
        height: 100px;
        width: 100px;
        background-image: url("iot.png");
        background-size: cover;	
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .box1 ul li{
        margin-left: 20px;
    }
    .box2 .img2{
        height: 200px;
        width: 170px;
        background-image: url("web2.jpg");
        background-size: contain;
        background-repeat: no-repeat;
    }
    .web{
        margin-top: -30px;
    }
    .box2 ul li{
        margin-left: 20px;
    }
    
    .box3 .img3{
        height: 150px;
        width: 160px;
        background-image: url("uiux.png");
        background-size: contain;
    
        background-repeat: no-repeat;
        
    }
    .ui{
        margin-top: -50px;
    }
    .box3 ul li{
        margin-left: 20px;
    }
    .box4 .img4{
        height: 80px;
        width: 80px;
        background-image: url("flutter.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        /* padding-left: 100px;	
        margin-bottom: 90px; */
        
    }
    .box4 ul li{
        margin-left: 20px;
    }
    .box5 .img5{
        height: 100px;
        width: 100px;
        background-image: url("android.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
    .box5 ul li{
        margin-left: 20px;
        padding-bottom: 20px;
    }
    .perent{
    width:690px;
    display: flex;
    padding: 10px;
    overflow-x:scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    
}
.gallery{
    width: 900px;
    display: flex;
    padding: 30px;
    overflow-x:scroll;
    height: 600px;
}
.gallery .photo{
    width: 580px;
    height: 600px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
    /* border: 2px solid black; */
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 6px -19px 20px -22px rgba(0,0,0,0.45),
    0px 25px 20px -20px rgba(0,0,0,0.45);

}
.gallery .photo img{
    width: 70%;
    height: 70%;
    /* border: 2px solid black; */
    
}
.gallery .photo h4{
    color: #262626;
}
.gallery::-webkit-scrollbar{
    display: none;
}
#f{
    color: blue;
    font-size: 40px;
    cursor: pointer;

}
#l{
    color: blue;
    font-size: 40px;
    cursor: pointer;
   
}
.gallery-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;

}
    

    }

